header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: $zindex-fixed;
  box-shadow: $box-shadow-sm;
  .header {
    &-top {
      height: 47px;
      background-color: black;
      padding: 0.5rem 0;
      > .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
      }
      ul {
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;
        li {
          display: inline-block;
          color: white;
          &:not(:last-child) {
            margin-right: 0.25rem;
          }
          a {
            color: white;
            &:hover {
              color: $primary;
            }
          }
        }
      }

      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }
  .nav {
    &bar {
      @include media-breakpoint-up(lg) {
        padding: 1.5rem 1rem;
      }
    }
    &-item {
      &.active {
        .nav-link {
          color: $primary !important;
          position: relative;
          @include media-breakpoint-up(lg) {
            &::before {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0.5rem;
              right: 0.5rem;
              height: 4px;
              background-color: $primary;
            }
          }
        }
      }
    }
    &-link {
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
  .dropdown-language {
    .dropdown {
      &-toggle {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        &::after {
          display: none;
        }
      }
      &-menu {
        background-color: rgba($body-color, 0.8);
        border-radius: 0;
        margin-top: 0.5rem;
        border-width: 0;
        padding: 0;
        min-width: unset;
      }
      &-item {
        padding: 0.25rem 0.5rem;
        &:hover {
          background-color: $body-color;
        }
      }
    }
  }
  .input-group {
    .form-control {
      border-radius: 0;
    }
    &-append {
      border-radius: 0;
      .btn {
        border-radius: 0 !important;
      }
    }
  }
}
