$enable-responsive-font-sizes: true;
$font-family-base: "Kanit", sans-serif;

// Slick
$slick-font-path: "../scss/slick/fonts/";
$slick-loader-path: "../scss/slick/";
$slick-dot-size: 1rem;

// Link
$link-hover-decoration: none;
