@import url("https://fonts.googleapis.com/css?family=Kanit:300,400,500,600,700&display=swap");
@import "./variable";
@import "./bootstrap/bootstrap.scss";
@import "./slick/slick.scss";
@import "./slick/slick-theme.scss";
@import "./offcanvas";
@import "./header";
@import "./footer";
@import "./loading";
@import "./landing";

html {
  height: 100%;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}
main {
  flex-shrink: 0;
}
